@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap'); /* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* Pacifico */


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  /* padding: 20px; */
}

a {
  font-weight: 500;
  font-size: 30px;
  color: lime;
  text-decoration: inherit;
}
a:hover {
  color: #E6367E;
  -webkit-text-stroke: 1px black;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #FFA841; */
  background-color: slategray;
  font-family: 'Pacifico';
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  font-size: 3.0em;
}

button {
  border-radius: 10px;
  border: 1px solid #3F0066;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #D7A1FF;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 2px 2px 5px #561d79, inset -2px -3px #553f99;
  width: 200px;
  height: 50px;
  color: #3F0066;
}
/* button:hover {
  border-color: #646cff;
} */

button:active {
  box-shadow: inset 1px 1px 3px #3F0066;
  font-size: 0.99em;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button.utility {
  background-color: lightgray;
  width: 10px;
  height: 40px;
  position: relative;
  margin-right: 20px;
}
